:root {
  --font-color-fatorial: #fd0000;
  --p: #8aa6ff;
}

body {
  background: rgb(45, 45, 45);
  background: -moz-linear-gradient(
    147deg,
    rgba(45, 45, 45, 1) 0%,
    rgba(19, 19, 19, 1) 64%,
    rgba(31, 31, 31, 1) 100%
  );
  background: -webkit-linear-gradient(
    147deg,
    rgba(45, 45, 45, 1) 0%,
    rgba(19, 19, 19, 1) 64%,
    rgba(31, 31, 31, 1) 100%
  );
  background: linear-gradient(
    147deg,
    rgba(45, 45, 45, 1) 0%,
    rgba(19, 19, 19, 1) 64%,
    rgba(31, 31, 31, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d2d2d",endColorstr="#1f1f1f",GradientType=1);
  color: #ffff;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 7px;
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #222222;
}

input {
  border-radius: 8px;
  padding: 1vh;
}

ol {
  list-style: none;
}

button {
  background-color: var(--font-color-fatorial);
  border: none;
  outline: none;
  height: 100%;
  padding: 1vh;
  border-radius: 8px;
  cursor: pointer;
}


.pokemons {
  position: fixed;
  display: flex;
  width:40px;
  height: 40px;
  right: 15px;
  top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 101vh;
  gap: 1vh;
}

.titulo-fatorial {
  font-size: 2em;
  color: var(--font-color-fatorial);
  letter-spacing: 3px;
  margin: 1.5vh 0vh;
  font-style: oblique;
}

.listFatorial {
  width: 40vw;
  height: 40vh;
  margin-top: 2vh;
  border-radius: 8px;
  color: #ffffff;
  padding: 5vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    127deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(4, 4, 4, 1) 51%,
    rgba(18, 18, 18, 1) 100%
  );
  box-shadow: #000 10px 10px, #0f0f0f 20px 20px, #161616 30px 30px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  overflow-y: auto;
}

.listFatorial:hover {
  box-shadow: #2b0000da 10px 10px, #1b0000c2 20px 20px, #11000081 30px 30px;
}

.listFatorial li:last-child {
  color: red;
  font-weight: 600;
  font-size: 1.1em;
}

.bg-2 {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    147deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(225, 232, 255, 1) 64%,
    rgba(151, 176, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    147deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(225, 232, 255, 1) 64%,
    rgba(151, 176, 255, 1) 100%
  );
  background: linear-gradient(
    147deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(225, 232, 255, 1) 64%,
    rgba(151, 176, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#97b0ff",GradientType=1);
  color: #000;
}

.titulo-media {
  color: #8aa6ff;
}

.divMedia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  height: 30vh;
}

#resultMedia {
  height: 4vh;
  font-size: 2em;
  color: #000;
  margin: 0 0 20px 0;
}
.bg-2 button {
  display: flex;
  background-color: #8aa6ff;
  color: #000;
  transition: .3s ease-in-out;
}

.bg-2 button:hover {
  background-color: #6e90ff;
}

.bg-3 {
  gap: 3vh;
}
